body {
  background-color: #DCEDDE;
}

h1, h3 {
  text-align: center;
}

#board {
  margin: 0 auto;
  border: 1px solid black;
}

td {
  width: 100px;
  height: 100px;
  border: 1px solid gray;
  margin: 0 auto;
  text-align: center;
  font-size: 1.5em;
  background-color: #333399;
  color: #6f3;
}

.empty {
  background-color: white;
}
